[submodule "2_week/lib/forge-std"]
	path = 2_week/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "2_week/lib/openzeppelin-contracts"]
	path = 2_week/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
