[submodule "2_week/lib/forge-std"]
	path = 2_week/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "2_week/lib/openzeppelin-contracts"]
	path = 2_week/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "2_week/lib/murky"]
	path = 2_week/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "2_week/lib/erc1363-payable-token"]
	path = 2_week/lib/erc1363-payable-token
	url = https://github.com/git-josip/erc1363-payable-token
[submodule "3_week/lib/forge-std"]
	path = 3_week/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "3_week/lib/openzeppelin-contracts"]
	path = 3_week/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "3_week/lib/prb-math"]
	path = 3_week/lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "8-9_weeks/8_week/1_CTE_guess_the_secret_number/lib/forge-std"]
	path = 8-9_weeks/8_week/1_CTE_guess_the_secret_number/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/8_week/2_CTE_Guess_the_new_number/lib/forge-std"]
	path = 8-9_weeks/8_week/2_CTE_Guess_the_new_number/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/8_week/3_predict_the_future/lib/forge-std"]
	path = 8-9_weeks/8_week/3_predict_the_future/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/8_week/4_RareSkills_Riddles_ERC1155/lib/forge-std"]
	path = 8-9_weeks/8_week/4_RareSkills_Riddles_ERC1155/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/8_week/4_RareSkills_Riddles_ERC1155/lib/openzeppelin-contracts"]
	path = 8-9_weeks/8_week/4_RareSkills_Riddles_ERC1155/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
