[submodule "2_week/lib/forge-std"]
	path = 2_week/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "2_week/lib/openzeppelin-contracts"]
	path = 2_week/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "2_week/lib/murky"]
	path = 2_week/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "2_week/lib/erc1363-payable-token"]
	path = 2_week/lib/erc1363-payable-token
	url = https://github.com/git-josip/erc1363-payable-token
[submodule "3_week/lib/forge-std"]
	path = 3_week/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "3_week/lib/openzeppelin-contracts"]
	path = 3_week/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "3_week/lib/prb-math"]
	path = 3_week/lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "8-9_weeks/8_week/1_CTE_guess_the_secret_number/lib/forge-std"]
	path = 8-9_weeks/8_week/1_CTE_guess_the_secret_number/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/8_week/2_CTE_Guess_the_new_number/lib/forge-std"]
	path = 8-9_weeks/8_week/2_CTE_Guess_the_new_number/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/8_week/3_predict_the_future/lib/forge-std"]
	path = 8-9_weeks/8_week/3_predict_the_future/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/8_week/4_RareSkills_Riddles_ERC1155/lib/forge-std"]
	path = 8-9_weeks/8_week/4_RareSkills_Riddles_ERC1155/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/8_week/4_RareSkills_Riddles_ERC1155/lib/openzeppelin-contracts"]
	path = 8-9_weeks/8_week/4_RareSkills_Riddles_ERC1155/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "8-9_weeks/8_week/5_CTE_Token_Bank/lib/forge-std"]
	path = 8-9_weeks/8_week/5_CTE_Token_Bank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/8_week/6_CTE_Predict_the_block_hash/lib/forge-std"]
	path = 8-9_weeks/8_week/6_CTE_Predict_the_block_hash/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/8_week/7_CTE_Token_Whale_Challenge/lib/forge-std"]
	path = 8-9_weeks/8_week/7_CTE_Token_Whale_Challenge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/9_week/1_CTE_Token_Sale/lib/forge-std"]
	path = 8-9_weeks/9_week/1_CTE_Token_Sale/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/9_week/2_CTE_Retirement_fund/lib/forge-std"]
	path = 8-9_weeks/9_week/2_CTE_Retirement_fund/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/9_week/3_DVD_Side_Entrance/lib/forge-std"]
	path = 8-9_weeks/9_week/3_DVD_Side_Entrance/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/9_week/3_DVD_Side_Entrance/lib/solady"]
	path = 8-9_weeks/9_week/3_DVD_Side_Entrance/lib/solady
	url = https://github.com/vectorized/solady
[submodule "8-9_weeks/9_week/4_DVD_Unstoppable/lib/forge-std"]
	path = 8-9_weeks/9_week/4_DVD_Unstoppable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/9_week/4_DVD_Unstoppable/lib/openzeppelin-contracts"]
	path = 8-9_weeks/9_week/4_DVD_Unstoppable/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "8-9_weeks/9_week/4_DVD_Unstoppable/lib/solmate"]
	path = 8-9_weeks/9_week/4_DVD_Unstoppable/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "8-9_weeks/9_week/5_Ethernaut_20_Denial/lib/forge-std"]
	path = 8-9_weeks/9_week/5_Ethernaut_20_Denial/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/9_week/6_Ethernaut_15_NaughtCoin/lib/forge-std"]
	path = 8-9_weeks/9_week/6_Ethernaut_15_NaughtCoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-9_weeks/9_week/6_Ethernaut_15_NaughtCoin/lib/openzeppelin-contracts"]
	path = 8-9_weeks/9_week/6_Ethernaut_15_NaughtCoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "10-11_weeks/10_week/01_RS_Riddles_Forwarder/lib/forge-std"]
	path = 10-11_weeks/10_week/01_RS_Riddles_Forwarder/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "10-11_weeks/10_week/02_DVD_3_Truster/lib/openzeppelin-contracts"]
	path = 10-11_weeks/10_week/02_DVD_3_Truster/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "10-11_weeks/10_week/02_DVD_3_Truster/lib/solmate"]
	path = 10-11_weeks/10_week/02_DVD_3_Truster/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "10-11_weeks/10_week/03_RS_Riddles_Overmint3/lib/forge-std"]
	path = 10-11_weeks/10_week/03_RS_Riddles_Overmint3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "10-11_weeks/10_week/03_RS_Riddles_Overmint3/lib/openzeppelin-contracts"]
	path = 10-11_weeks/10_week/03_RS_Riddles_Overmint3/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "10-11_weeks/11_week/04_DVD_2_NaiveReceiver/lib/solady"]
	path = 10-11_weeks/11_week/04_DVD_2_NaiveReceiver/lib/solady
	url = https://github.com/vectorized/solady
[submodule "12_week/huff-puzzles/lib/forge-std"]
	path = 12_week/huff-puzzles/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
